* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'w95';
  src: local('w95'), url(../src/fonts/w95.woff) format('woff');
}

html, body {
  overflow-x: hidden;

}

body {
  -webkit-overflow-scrolling: touch;
  font-family: 'w95';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Make text unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
